<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--              Tipografia Roboto                    -->

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto&display=swap"
        rel="stylesheet">

    <!--              Pagina de iconos                   -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <!--              Hojas de estilos de normalize                    -->

    <link rel="stylesheet" href="/css/normalize.css">

    <!--              Hojas de estilos propias                    -->
    <link rel="stylesheet" href="/css/animaciones.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/colores.css">
    <link rel="stylesheet" href="/css/register-styles.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>

<body>
    <header>
        <div id="conteiner-Header">
            <div id="logoYbarraDebusqueda">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="">
                </div>
                <br>
                <form id="buscador-header">
                    <input type="text" placeholder="buscar...">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <h3 id="subtitulo-header">Compra en cuotas sin tarjeta de credito <i
                    class="fa-solid fa-hand-holding-dollar"></i></h3>
        </div>

        <nav class="navbar">

            <ul class="navbar-left">
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar-rigth">
                <li><a href="register">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i> </li>
                <li><a href="#">Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>

        </nav>

        <div class="burger-menu">
            <button>
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>

        <br>


    </header>

    <main>

        <!--                  Formulario                       -->


        <!-- uso el metodo post para que la informacion no aparezca en la url y se mande directo al servidor -->
        <form class="form-register" method="post" action="/register">

            <!-- uso el required true para que tengan que llenar esas peticiones si o si -->
            <input class="input-controls" type="text" id="nombre-apellido" placeholder="Nombre y apellido"
                name="nombreYapellido" required="true" minlength="4">

            <input class="input-controls" type="text" placeholder="Nombre de usuari@" id="nombre-usuario"
                name="nombreDeUsuario" required="true">

            <input class="input-controls" type="email" placeholder="ingresar email" id="email" name="email"
                required="true">

            <label class="title-formulario">Fecha de nacimiento</label>
            <input class="input-controls" type="date" placeholder="Fecha de nacimiento" id="fecha-nacimiento"
                name="fechaDeNacimiento" required="true" max="2005-02-06">

            <input class="input-controls" type="text" placeholder="Domicilio" id="domicilio" name="domicilio"
                required="true">


                <label class="title-formulario">Perfil de usuario</label>     
                <div class="perfil-usuario">          
                <label for="comprador">Comprador    
                    <input class="input-controls" type="radio" id="comprador" name="perfil" value="comprador"
                        required="true">
                </label>

                <label for="comprador">Vendedor
                    <input class="input-controls" type="radio" id="vendedor" name="perfil" value="vendedor"
                        required="true">
                </label>
            </div>


            <label class="title-formulario" required="true">Intereses</label>
            <div class="intereses">
            <label for="electro">Electro
                <input class="input-controls" type="checkbox" id="electro" name="inrereses" value="intereses">
            </label>

            <label for="moda">Moda
                <input class="input-controls" type="checkbox" id="moda" name="inrereses" value="moda">
            </label>

            <label for="hogar">Hogar
                <input class="input-controls" type="checkbox" id="hogar" name="inrereses" value="hogar">
            </label>

            <label for="jugueteria">Jugueteria
                <input class="input-controls" type="checkbox" id="jugueteria" name="inrereses" value="jugueteria">
            </label>

            <label for="vida-sana">Vida sana
                <input class="input-controls" type="checkbox" id="vida-sana" name="inrereses" value="vida-sana">
            </label>
        </div>

            <button type="submit" value="Enviar">Enviar <a href="home"></a></button>



        </form>




    </main>
</body>

</html>