*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Gris-claro);
}

/* .formulario-main > form{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Gris-oscuro);
    grid-column: 10px;
} */

.form-register{
    width: 300px;
    margin: auto;
    margin-top: 60px;
    font-family: "Roboto";
}

.input-controls{
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid black;
  font-family: "Roboto";
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.perfil-usuario{
    display: flex;
    justify-content: space-around;
}

.title-formulario{
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 20px;
    
}


.contenedor-centrado-register{
    display: flex;
    justify-content: center;
    align-items: center;

}



.container-intereses{
    display: flex;
    flex-direction: column;
}



/* botones */

.container-botones-register{
    display: flex;
    justify-content: space-evenly;
}

.botones-register{
    width: 120px;
    height: 30px;
    margin-top: 10px;
}