    /* Tablet */
    @media (min-width: 768px){
        .navbar{
            display: block;  
        }
    
        .burger-menu{
            display: none;
        }
        #buscador-header{
            margin-left: 5px;
        }
        .box-products{
            flex-basis: 48%;
        }
        #conteiner-Header{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navbar{
            display: flex;
            justify-content: space-between;
            margin-bottom: -10px;
        }
        .navbar ul{
            display: flex;
        }
        .navbar li{
            margin: 0 15px;
        }
    


        .container-nombreUsuario,.container-password,.boton-de-enviar{
                width: 470px;
                height: 40px;
            }




    }
    
    
        /* Desktop */
    @media (min-width: 1024px){
        .box-products{
            flex-basis: 24%;
        }
        .navbar{
            max-width: 1200px;
            margin: auto;
        }
    
        /* .precio, .descuentos {
            margin-right: 15px;
        } */
        .descuentos{
           margin-left: 30px;
        }

        .container-nombreUsuario,.container-password,.boton-de-enviar{
            width: 630px;
            height: 40px;
        }

        
    /* footer */

    .info-Conteiner{
        display: flex;
        justify-content: space-between;
    }

    .text-footer{
        width: 100%;
    }

    .text-footer > p{
        width: 50%;       
        padding-top: 5px;
        margin: auto;
    }

    .container-footer-1{
        display: flex;
        flex-direction: column;
    }


    .copyright{
        display: flex;
        align-items: center;
        margin-top: 43px;
        justify-content: center;
    }

    .container-footer-1:hover .iconos{
       color: var(--Amarillo);
    }
    /* fin footer */


            /* Productos */
            
            .box-products:hover{
                box-shadow:  0px 0px 10px rgb(100, 100, 100);
            }
    
            .conteiner-infoProduct{
            transition: all 0.4s ease-in;
    
            }
    
            .descripcion{
                position: relative;
                bottom: 40px;
                z-index: -1;
                opacity: 0;
                transition: all 0.4s ease-in;
            }
    
            .box-products:hover .conteiner-infoProduct{
                height: 5em;
            }
    
            .box-products:hover .descripcion{
                position: relative;
                bottom: 0;
                z-index: 1;
                opacity: 1;
            }
    
            
                /* fin de los productos */



    }
    